* { padding: 0; margin: 0; box-sizing: border-box;}

.header {
  display: flex;
  flex:50%;
  width: 100%;
}

/* Style the navbar */
#navbar {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  overflow: hidden;
  background-color: #04071b;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.header img {
  width: 100%;
  height: auto;
}

body {
  background-color: #04071b;
}

.about {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 15%;
  margin: 15px;
}

h1{
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 600;
}

.about h1 {
  font-size: 5em;
}

.about p {
  font-size: 2em;
  padding: 10px;
}

.project {
  height:max-content;
  display:flex;
  gap:25px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  flex-direction: column;
}

.project img {
  max-width: 100%;
  max-height: 100%;
}

.project h1 {
  font-size: 3em;
}

.project p {
  font-size: 2em;
  padding: 10px;
}

button {
  background-color: #907ff0; /* Green */
  border: none;
  color: white;
  border-radius: 15px;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  width: 20%;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff; /* Green */
  color: rgb(0, 0, 0);
}

.project .left {
  flex-direction: column;
  display: flex;
  flex:50%;
  overflow: hidden;
}


.project .right {
  display: flex;
  flex:50%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.project1 {
  padding:10px;
  height: 100%;
  width: 100%;
  display:flex;
  margin-bottom: 15px;
}

.project2 {
  padding:10px;
  height: 100%;
  width: 100%;
  display:flex;
  margin-bottom: 15px;
}

a.proj-link {
  text-align: center;
  background-color: #907ff0;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  width: 20%;
  transition-duration: 0.4s;
}

a.proj-link:visited {
  color: white;
}

@media screen and (max-width:768px){
  #navbar {
    font-size: 1em;
  }
  .about h1 {
    font-size: 2em;
  }
  .about p {
    font-size: 1em;
  }
  .project h1 {
    font-size: 2em;
  }
  .project p {
    font-size: 1em;
  }
  .project1 {
    height: 70vh;
    flex-direction: column-reverse;
  }

  .project2 {
    height: 70vh;
    flex-direction: column-reverse;
  }
  .project img {
    object-fit: contain;
  }
  button {
    
    font-size: 1rem;
    width:40%;
  }
}