* { padding: 0; margin: 0; box-sizing: border-box;}

.background {
    position:fixed;
    overflow-x: hidden;
}

body{
    overflow-x:hidden;
}
.line {
    font: 36px "Raleway", sans-serif;
    position: sticky;
}

.bird { 
    position: relative;
    z-index: 3;
}

.branch {
    position: fixed;
    z-index: 1;
}

.note {
    position:fixed;
    x: 1000;
    z-index: 3;
    scale: 0.7;
}

.text {
    position: fixed;
    z-index: 4;
    
    left:10%;
    bottom:20%;
}