* { padding: 0; margin: 0; box-sizing: border-box;}

.background {
    position:fixed;
    overflow-x: hidden;
}

body{
    overflow-x:hidden;
}


.playpen-sans-arabic {
  font-family: "Playpen Sans Arabic", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.line {
    font: 24px "Playpen Sans Arabic";
    position: sticky;
    color: #F3EFD4;
}

.bird { 
    position: fixed;
    z-index: 3;
    visibility: hidden;
}

.branch {
    position: fixed;
    z-index: 1;
    visibility: hidden;
}

.note {

    z-index: 1;
    scale: 0.7;
}

.text {
    position: fixed;
    z-index: 4;
    left:10%;
    bottom:20%;
}

.text-bg {
    visibility: hidden;
}


.box-note {
    position: relative;
}

.btn-left {
    position: fixed;
    left: 30px;
    bottom: 30px;
    height: 300px;
    width: 400px;
    z-index: 999;
}

.btn-right {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 300px;
    width: 400px;
    z-index: 999;
}

.btn-right #bttn {
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
}

.btn-left #bttn {
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    text-decoration: none;
}
.gsap-marker {
    opacity: 0 !important;
}