* { padding: 0; margin: 0; box-sizing: border-box;}

@font-face {
  font-family: 'SugarAndCream';
  src: url(./assets/fonts/Sugar&Cream\ Regular.ttf);
}

/* Start Global Rules */
* {
    box-sizing: border-box;
  }

  html, body{
    min-height:100%;
  }

  body {
    min-height: calc(100% - 170px);
    overflow-x: hidden;
    position:relative;
    min-height:100vh;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-family: 'SugarAndCream';
    font-size: 5rem;
    color:#424242;
  }

  h2 {
    font-family: 'Basic';
  }

  p {
    padding: 0 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    color:#424242;
  }
  a {
    text-decoration: none;
  }

  ul {
    color: #424242;
    list-style: none;
    padding: 0 10px;
    margin: 0;
  }

  ul a {
    color: #424242;
  }

  ul a:visited{
    color: #424242;
  }

  ul a:hover  {
    color: #9EB8C6;
    transition: 0.2s;
  }
  #container {
    opacity:0;
  }
  .container {
    animation: fadeIn 1s; 
    display:flex;
    position: relative;
    width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo img {
    max-width: 144px;
  }

  /* End Global Rules */
  
  /* Start Landing Page */

  .nav .nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .nav .links {
    display: flex;
    align-items: center;
    font-family: 'Basic';
    font-size: 1.25em;
  }

  .nav .links li {
    transition: .3s;
  }

  .nav .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #d7a17e;
  }

  .nav .links li:last-child:hover{
    background-color: #9EB8C6;
  }

  .nav .links li:last-child a:visited {
    color: #FFF;
  }

  .nav .links li:not(:last-child) {
    margin-right: 30px;
  }

  .nav .links li:not(:last-child):visited {
    color: #424242;
  }

  .alert a:hover, .alert a:focus {
    color: white;
  }
  .nav .content .container .info {
    position:relative;
    margin-top:10vh;
  }

/* Homee Page Contents */

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.container .info h1 {
    color: #5d5d5d;
    font-family:'SugarAndCream';
    font-size: 6em;
  }
.container .info p {
    margin: 0;
    line-height: 1.6;
    font-family: 'Basic', sans-serif;
    font-size: 1.5em;
    color: #5d5d5d;
  }
.info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #d7a17e;
  }
.info button a:visited {
    color: #FFF;
  }

.info button:hover{
  transition:0.2s;
    background-color: #9EB8C6;
  }

.image img {
    max-width: 100%;
  }

  button {
    font-family: 'Basic';
    font-size: 1rem;
  }


  /* About Page Contents */
.flex-about {
  min-height: 100%;
  display: flex;
  padding: 0 10px;
  gap: 10px;
  height: 100vh;
}

.flex-about .content-left { 
  margin-top: 5%;
  flex:50%;
}

.flex-about .content-right {
  flex:50%;
  background-image: url('./assets/owner.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  padding: 10px;
  margin: 10px;
}

  /* Home Page Image Gallery */
  
  .gallery-container{
    padding: 15px 0;
    margin: 0 auto;
    width: 60vw;
  }
  
 .gallery-container h1{
    display:flex;
    position: relative;
    text-transform: uppercase;
    color: #424242;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;

  }
      
  .item:hover{
    flex: 7;
  }
  
  .item-1 { 
    background-image: url('./assets/categories/kitchen.jpg');
  }
  
  .item-2 { 
    background-image: url('./assets/categories/childrensapparel.jpg');
  }
  
  .item-3 { 
    background-image: url('./assets/categories/bibsandblankets.jpg');
  }
  
  .item-4 { 
    background-image: url('./assets/categories/childrensaccessories.jpg');
  }
  
  .item-5 { 
    background-image: url('./assets/categories/giftset.jpg');
  }

  /* End Landing Page */

  /* Retailers Containers */
.locate-container {
  width: 100vw;
  height: auto;
  margin-bottom: 15px;
}

  .locate-container h1 {
    text-align: center;
  }

  .locate-container h2 {
    text-align: center;
    font-family: 'Basic';
    font-size: 1.5rem;
    color: #424242;
    margin: 25px 0;
  }
  .location {
    display:flex;
    justify-content: center;
    gap:25px;
    text-align: center;
  }

  .location p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
  }

  .location button {
    font-family: 'Inter', sans-serif;
    border:none;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    color: #d7a17e;
    background-color: #FFF;
    box-shadow: #8f5747 0px 2px 15px 0px;
  }

  .location button:hover {
    cursor: pointer;
    background-color: #9EB8C6;
    color: white;
    transition: 0.3s;
  }

  .locationone  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #d7a17e;
    border-radius: 15px;
    color:white;
  }
  .locationtwo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #d7a17e;
    border-radius: 15px;
    color:white;
  }
  .locationthree {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #d7a17e;
    border-radius: 15px;
    color:white;
  }
  .locationfour {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #d7a17e;
    border-radius: 15px;
    color:white;
  }
  .locationfive {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #d7a17e;
    border-radius: 15px;
    color:white;
  }
  .locationsix {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #d7a17e;
    border-radius: 15px;
    color:white;
  }
  .locationseven {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #d7a17e;
    border-radius: 15px;
    color:white;
  }
  .locationeight {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #d7a17e;
    border-radius: 15px;
    color:white;
  }

  .shop-container {
    display:flex;
    flex-direction: column;
    gap:15px;
    margin: 15px;
  }

  /* Shop Slideshow */

  .slideshow
  {
    align-items: center;
    align-self: center;
    width: 80vw;
    display:flex;
    align-content: center;
  }

  .slideshow img {
    flex:100%;
    height: 60vh;
    background-size: auto;
    object-fit:cover;
  }

  .slideshow .display-left {
    border-radius: 5px 0 0 5px;
    flex:5%;
    height:50px;
    position: relative;
    top: 50%;
    left: 0%;
    background-color: #9EB8C6;
    border:none;
    color: white;
  }
  .slideshow .display-right {
    border-radius: 0 5px 5px 0;
    flex:5%;
    height:50px;
    position: relative;
    top: 50%;
    left: 0%;
    background-color: #9EB8C6;
    border:none;
    color: white;
  }

  .slideshow .display-left:hover {
    cursor: pointer;
    color: #fff!important;
    background-color: #d7a17e!important;
    transition: 0.4s;
  }
  .slideshow .display-right:hover {
    cursor: pointer;
    color: #fff!important;
    background-color: #d7a17e!important;
    transition: 0.4s;
  }

  /* Shop Squares */

  .cats {
    width: 90vw;
    height: auto;
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    justify-content: center;
  }

  .block {
    background-image: linear-gradient(to bottom, rgba(132, 145, 219, 0.52), rgba(100, 68, 6, 0.73));
    position:relative;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: flex-end;  
  }

  .block img {
    z-index:-1;
    width: 100%;
    height: 100%;
  }

  .block a {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .block:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(0, 0, 0, 0.73));

    transition: 0.2s;
    box-shadow: 5px 5px 5px #d7a17e;
    cursor: pointer;
    font-weight:bold;
  }

  .block p {
    position: absolute;
    bottom:0;
    padding: 15px;
    color: #FFF;
    text-decoration: underline;
  }

  .recc {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90vw;
    height: 40vh;
  }

  .rec-text {
    background-color: #FFF;
    padding:15px;
    height: 100%;
    min-width:40%;
  }

  .rec-img {
    height: 100%;
    min-width:60%;
  }

  .rec-img-1 {
    width: 100%;
    height: 100%;
    background-image: url('./assets/categories/childrensapparel.jpg');
    background-size: cover;
    background-position: center;
  }

  .rec-img-2 {
    width: 100%;
    height: 100%;
    background-image: url('./assets/categories/bibsandblankets.jpg');
    background-size: cover;
    background-position: center;
  }

  .shop-btn {
    margin: 5px;
    background-color: #d7a17e;
    border-radius: 5px;
    color: white;
    padding: 1em 1.5em;
    font-family: 'Inter';
  }

  .shop-btn:hover {
    background-color: #8f5747;
    transition: 0.4s;
  }

  .flex-item {
    display:flex;
    width: 100vw;
    gap:10px;
    margin: 10px;
    object-fit: cover;
  }

  .item-left {
    height: 100vh;
    position: relative;
    flex:60%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .item-left img {
    height: auto;
    width: 100%;
  }

  .item-right {
    position: relative;
    flex:40%;
  }

a.cart {
  font-family: 'Inter', sans-serif;
  margin-top: 15px;
  text-align: center;
  background-color:#d7a17e;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  width: 20%;
  transition-duration: 0.4s;
}

a.cart:hover {
  background-color:#9EB8C6;
  transition-duration: 0.4s;
}

/* Footer */

  footer {
    margin-top: auto;
    justify-content: center;
    display:flex;
    padding: 5px;
    width: 100vw;
    background-color: #d7a17e;
    color: #FFF;
    bottom: 0;
  }

  footer .left {
    flex:1;
  }

  footer .socialimg {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    max-width: 30vw;
  }

  .logoimg {
    margin:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 50%;
    background-image: url('./assets/footer/footer.png');
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-size: contain;
  }

  footer .copy {   
    flex:1;
    align-self: flex-end;
  }

  .social {
    flex:1;
    justify-content: center;
    align-content: center;
    display:flex;
    height:50px;
  }
  
  .social-one {
    height: 50px;
    width:50px;
    background-image: url('./assets/footer/fb.svg');
    background-repeat: no-repeat;
  }

  .social-two {
    height: 50px;
    width:50px;
    background-image: url('./assets/footer/ig.svg');
    background-repeat: no-repeat;
  }

  footer p {
    color: #FFF;
    text-align: right;
    font-size: 0.75rem;
  }

  
    /* Small */
    @media screen and (max-width:768px){

      .container .info h1 {
        font-size: 4rem;
      }
      .container {
        flex-direction: column-reverse;
      }
      .logo img {
        max-width: 64px;
      }
      .nav .links {
        font-size: 1rem;
      }
      .nav .links li:not(:last-child) {
        margin-right: 15px;
      }
      p {
        font-size: 1rem;
      }
      .flex-about {
        margin-top: 150px;
        flex-direction: column-reverse;
        margin-bottom: 30px;
      }
      .flex-about .content-right {
        min-height: 150px;
        min-width: max-content;
        background-size: cover;
      }
      
        .locate-container {
          width: 100vw;
          margin-bottom: 30px;
          flex-direction: column;
          height: max-content;
        }
        .gallery-container {
          width: 90vw;
        }
        .location {
          flex-wrap: wrap;
          overflow-y:hidden;
          
        }

        .info {
          margin-bottom: 10px;
        }

        .gallery-wrap {
          height: 20vh;
        }

        .flex-item {
          flex-direction: column;
          width: 90vw;
          object-fit: cover;
          margin-bottom:25px;
        }
        
        .item-left img {
          height: auto;
          width: 100%;
        }
        
      }