* { padding: 0; margin: 0; box-sizing: border-box;}

@font-face {
  font-family: 'SugarAndCream';
  src: url(./assets/fonts/Sugar&Cream\ Regular.ttf);
}

/* Start Global Rules */
* {
    box-sizing: border-box;
  }

  h1 {
    font-family: 'SugarAndCream';
    font-size: 5rem;
    color:#424242;
  }

  p {
    padding: 0 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    color:#424242;
  }
  a {
    text-decoration: none;
  }

  ul {
    color: #424242;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul a:visited{
    color: #424242;
  }

  ul a:hover  {
    color: #9EB8C6;
    transition: 0.2s;
  }
  
  .container {
    width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo img {
    max-width: 144px;
  }

  /* End Global Rules */
  
  /* Start Landing Page */
  .landing-page header {
    min-height: 50px;
    display: flex;
  }

  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .landing-page header .links {
    display: flex;
    align-items: center;
    font-family: 'Basic';
    font-size: 1.25em;
  }

  .landing-page header .links li {
    transition: .3s;
  }

  .landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #d7a17e;
  }

  .landing-page header .links li:last-child:hover{
    background-color: #9EB8C6;
  }

  .landing-page header .links li:last-child a:visited {
    color: #FFF;
  }

  .landing-page header .links li:not(:last-child) {
    margin-right: 30px;
  }

  .landing-page header .links li:not(:last-child):visited {
    color: #424242;
  }

  .landing-page .content .container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    max-height: 70vh;

  }
  .alert a:hover, .alert a:focus {
    color: white;
  }
  .landing-page .content .info {
    display:relative;
    margin-top:10vh;
  }

  .landing-page .content .info h1 {
    color: #5d5d5d;
    font-family:'SugarAndCream';
    font-size: 6em;
  }
  .landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-family: 'Basic', sans-serif;
    font-size: 1.5em;
    color: #5d5d5d;
  }
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #d7a17e;
  }
  .landing-page .content .info button a:visited {
    color: #FFF;
  }

  .landing-page .content .image img {
    max-width: 100%;
  }

  button {
    font-family: 'Basic';
    font-size: 1rem;
  }

  /* About Page Layout */
.flex-about {
  display: flex;
  padding: 0 10px;
  gap: 10px;
  height: 100vh;
}

.flex-about .content-left { 
  margin-top: 5%;
  flex:50%;
}

.flex-about .content-right {
  flex:50%;
  background-image: url('./assets/owner.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}



  /* Home Page Image Gallery */

  .gallery-container{
    padding: 15px 0;
    margin: 0 auto;
    width: 60vw;
  }
  
 .gallery-container h1{
    display:flex;
    position: relative;
    text-transform: uppercase;
    color: #424242;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    
    &:hover{
      flex: 7;
    }
  }
  
  .item-1 { 
    background-image: url('./assets/categories/kitchen.jpg');
  }
  
  .item-2 { 
    background-image: url('./assets/categories/childrensapparel.jpg');
  }
  
  .item-3 { 
    background-image: url('./assets/categories/bibsandblankets.jpg');
  }
  
  .item-4 { 
    background-image: url('./assets/categories/childrensaccessories.jpg');
  }
  
  .item-5 { 
    background-image: url('./assets/categories/giftset.jpg');
  }

  /* End Landing Page */

    /* Small */
    @media screen and (max-width:768px){
        .container {
          width: 100vw;
          flex-direction: column;
        }
        .gallery-container {
          width: 90vw;
        }
      }