* { padding: 0; margin: 0; box-sizing: border-box;}

.div1, .div2 {
    height: 100vh;
}

.div1 {
    background-color: pink;

}

.div2 {
    background-color: salmon;
}

.square {
    width: 150px;
    height: 350px;
    background-color: fuchsia;
}

.square2 {    
    margin-top: 300px;
    width: 150px;
    height: 150px;
    background-color: blue;
}

.red {
    background-color: red;
}