* { padding: 0; margin: 0; box-sizing: border-box;}


   /* ---  NavBar  --- */

ul {
    list-style-type: none;
    margin: 0 10px 0 10px;
    overflow: hidden;
    background-color: #ffffff;
  }
  
li {
    float: left;
  }
  
li a {
    border-radius: 15px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #303030;
    transition-duration: 0.5s;
    border-radius: 50px;
  }
  
  /* ---  Type  --- */

  h1 {
    font-family: "Barlow", sans-serif;
    font-size: 36px;
    color: #303030;   
  }

  h2 {
    font-family: "Gabarito", sans-serif;
  }

  h3 {
    font-family: "Barlow", sans-serif;
    font-size: 36px;
  }
  
  p {
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
  }

  .copy {
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
  }

/* ---  Flexbox things  --- */

.flex {
  width: 100vw;
  height: 10vh;
  min-height: 90vh;
  display:flex;
  position:relative;
  overflow:hidden;
}

.flex p {
  display:flex;
  min-width: 0;
  font-size:24px;
  font-weight:600;
  flex:60%;
 }


.flex .info{
  margin: 0 5px 0 10px;
  border-radius: 30px;
  min-width: 0;
  font-size:55px;
  font-weight:600;  
  flex:40%;
  padding:50px;
  overflow: auto;
  
}

 .flex .image-container {
  display:none;
  margin: 0 10px 0 5px;
  border-radius: 30px;
  align-items: center;
  flex:60%;
  background: linear-gradient(-45deg, #9CD7CA, #EFE696, #BDE7F8, #F4AD8D); 
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.flex .image-container .pkmn-image-bg{
  padding-top: 20px;
  left: 50%;
  position:absolute;
  max-width: 100%;
  max-height: 100%;
}

.flex .image-container .pkmn-image{
  left: 50%; 
  position:absolute;
  max-width: 100%;
  max-height: 100%;
}

.flex .info .top {
  padding: 0 0 50px 0;
}

.flex .info .bottom {
  padding: 50px 0 0 0;
}

/* ---  Element Sizing  --- */

.navbar {
    margin-bottom: 20px;
}

.icon {
    width:30px;
    height:30px;
}

.welcome {
  text-align: left;
  max-width: 100%;
}

.evo {
  max-width: 30%;
  padding-top: 15px;
}

.type {
  max-width: 40%;
  max-height: 40%;
  padding-top: 15px;
}

.welc {
  line-height: 60%;
  font-family: 'Barlow';
  font-weight: 500;
  padding-top: 20px;
  font-size: 24px;
  color: #303030;   
}

.kantoreg {  
  line-height: 80%;
  font-family: 'Gabarito';
  font-weight: 900;
  padding: 0;
  font-size: 100px;
  padding-bottom: 15px;
  color: #303030;   
}



/* ---  Animations  --- */


.rotate {
  animation-name: rotator;
  animation-duration:2s;
  animation-fill-mode: forwards;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fadeleft {
  animation-name: fadeInLeft;
  animation-duration:1s;
  transform-origin: center;

}

body {
  animation: fadeInAnimation ease 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* ---  Keyframes  --- */

@keyframes rotator{
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-10px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}  

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
   
