* { padding: 0; margin: 0; box-sizing: border-box;}

@font-face {
    font-family: 'Gabarito';
    src: url(Gabarito.woff2) format('woff2');
    
   }

   @font-face {
    font-family: 'Barlow';
    src: url(Barlow.woff2) format('woff2');
   }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ccc;
  }
  
  h1 {
    font-family: "Barlow", sans-serif;
    font-size: 36px;
    color: #303030;   
  }

  h2 {
    font-family: "Gabarito", sans-serif;
  }

  h3 {
    font-family: "Barlow", sans-serif;
    font-size: 36px;
  }
  
  p {
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
  }

.navbar {
    margin-bottom: 20px;
}

.icon {
    width:30px;
    height:30px;
}

.flex {
  width: 100vw;
  height: 10vh;
  min-height: 90vh;
  display:flex;
  position:relative;
  overflow:hidden;
}

 .flex .info{
  margin: 0 5px 0 10px;
  border-radius: 30px;
  min-width: 0;
  font-size:55px;
  font-weight:600;  
  flex:40%;
  padding:50px;
}

 .flex .image-container {
  margin: 0 10px 0 5px;
  border-radius: 30px;
  align-items: center;
  flex:60%;
  background-color:#f7f7f7;
}

.flex .image-container .pkmn-image-bg{
  padding-top: 20px;
  left: 50%;
  position:absolute;
  max-width: 100%;
  max-height: 100%;
}

.flex .image-container .pkmn-image{
  left: 50%; 
  position:absolute;
  max-width: 100%;
  max-height: 100%;
}

.rotate {
  animation-name: rotator;
  animation-duration:2s;
  animation-fill-mode: forwards;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotator{
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

 .flex p {
  min-width: 0;
  font-size:24px;
  font-weight:600;
  flex:60%;
 }

